
* {
	margin: 0;
}

html {
	height: 100%;
}

body {

	font-family: Helvetica Neue, sans-serif;
	font-size: 10pt;
	color: black;
	width: 100%;
	height: 100%;
	background: #dbd7cc;

}

h1 {
	color: #036;
	font-size: 20pt;
	font-weight: bold;
}

p {
	padding-top: 10px;
	
}
h2 {
	padding-top: 20px;
	color: #036;
	font-size: 14pt;
	font-weight: bold;
}

h3 {
	color: #036;
	font-size: 12pt;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 1px;
}

a {
	color: #809fb9;
	font-family: 'Helvetica Neue', sans-serif;
	text-decoration: none;
	
}

img.sm	{
	border: none;
	width: 100%;
}

img.large {
	border: 3px solid white;
}

a:hover {
	color: #EEE;
}

a.menu_link {
	color: #809fb9;
	padding-right: 25px;
	border-width: 0;
}

a.menu_link:hover {
	color: #c7d9e8;
}

a.menu_link_curr {
	color: #EEE;
	padding-right: 25px;
	font-style: italic;
	border-width: 0;
}

a.menu_link_curr:hover {
	color: #c7d9e8;
}

ul {
	list-style-type: none;
	list-style: none;
}

ul.references li
{
	list-style-type: disc;
	padding-bottom: 10px;
}
/* TABLE STYLING */
table {
	width: 800px;
	border: 1px dotted #EEE;
	margin-top: 20px;
	margin-bottom: 20px;
}


td {
	width:133px;
	height:25px;
	text-align: center;

}

.bold
{
	font-weight: bold;
}

tr.empty
{
	height: 10px;
	border-bottom: 1px dotted #EEE;
}

/* DIVS */
#wrapper {

	position: relative;
	min-height: 100%;
}



#content {

	width: 800px;
	min-height: 100%;
		
	margin-left: auto;
	margin-right: auto;
	
	padding: 20px 20px 20px 20px;
	padding-bottom: 100px;
	background: #fff;
	text-align: justify;

}

#wrapper_foot {

	width: 100%;

	height: 50px;
	bottom: 0;
	background: #fff;
}

#foot {

	height: 50px;
	border-top: 1px dotted #EEE;
	
	margin-left: auto;
	margin-right: auto;

}

#foot p {
	text-align: center;
	font-size: 9pt;
	padding-top: 10px;
}
